Stocks Data Preprocessing

In [ ]:
#ymal to csv stock-wise
import os
import yaml
import pandas as pd
from pathlib import Path

#set-input-and-output-directories
data_dir = Path("E:\Sakthi\prasanth\projects\stocks\Scripts\data")
output_dir = Path("allstocks_csv")
output_dir.mkdir(exist_ok=True)

#dictionary-to-store-data-per-stock-symbol
stock_data = {}

#loop-to-take-all-months
for month_folder in data_dir.iterdir():
    if month_folder.is_dir():
        for yaml_file in month_folder.glob("*.yaml"):
            with open(yaml_file, 'r') as f:
                try:
                    content = yaml.safe_load(f)
                except Exception as e:
                    print(f"Error loading {yaml_file.name}: {e}")
                    continue

                #handle-both-list-and-single-dict
                if isinstance(content, list):
                    entries = content
                elif isinstance(content, dict):
                    entries = [content]
                else:
                    print(f"Skipped {yaml_file.name} (unexpected format)")
                    continue

                for row_data in entries:
                    symbol = row_data.get("Ticker")
                    if not symbol:
                        continue

                    #rows-for-stocks
                    row = {
                        "date": row_data.get("date"),
                        "open": row_data.get("open"),
                        "close": row_data.get("close"),
                        "high": row_data.get("high"),
                        "low": row_data.get("low"),
                        "volume": row_data.get("volume"),
                    }

                    stock_data.setdefault(symbol, []).append(row)

#convert-to-dataframe-save-as-.csv
for symbol, rows in stock_data.items():
    df = pd.DataFrame(rows)
    df['date'] = pd.to_datetime(df['date'])
    df.sort_values("date", inplace=True)
    df.to_csv(output_dir / f"{symbol}.csv", index=False)

print(f"CSVs saved in '{output_dir.resolve()}'")

✅ Done! CSVs saved in 'E:\Sakthi\prasanth\projects\stocks\Scripts\allstocks_csv'

In [ ]:
#combine all stocks as one csv file
import pandas as pd
import os

#path
csv_folder = "E:\Sakthi\prasanth\projects\stocks\Scripts\stocks_csv"

dfs = []

#loop through each CSV file in the folder
for filename in os.listdir(csv_folder):
    if filename.endswith(".csv"):
        ticker = filename.replace(".csv", "")
        df = pd.read_csv(os.path.join(csv_folder, filename))
        df["Ticker"] = ticker  # Add a column for the ticker
        dfs.append(df)

#concat all dataframes into one
combined_df = pd.concat(dfs, ignore_index=True)

#save as single csv file
combined_df.to_csv("all_stocks.csv", index=False)

print("All stocks combined into 'all_stocks.csv'")

✅ All stocks combined into 'all_stocks_combined.csv'

In [ ]:
#read
import pandas as pd
df = pd.read_csv('E:/Sakthi/prasanth/projects/stocks/Scripts/all_stocks.csv')
print(df.head())

In [ ]:
#column-lowercase
df.columns = df.columns.str.lower()
print(df.head())

In [ ]:
#date-only
df['date'] = pd.to_datetime(df['date']).dt.date
print(df.head())

         date     open    close     high      low   volume    ticker
0  2023-10-03  2418.00  2387.25  2424.90  2372.00  2019899  ADANIENT
1  2023-10-04  2402.20  2464.95  2502.75  2392.25  2857377  ADANIENT
2  2023-10-05  2477.95  2466.35  2486.50  2446.40  1132455  ADANIENT
3  2023-10-06  2466.35  2478.10  2514.95  2466.05  1510035  ADANIENT
4  2023-10-09  2440.00  2442.60  2459.70  2411.30  1408224  ADANIENT

In [5]:
#to-save
df.to_csv('all_stocks.csv', index=False)

NaN values Handling

In [2]:
import pandas as pd
df = pd.read_csv('E:/Sakthi/prasanth/projects/stocks/Scripts/all_stocks.csv')
print(df.head())

         date     open    close     high      low   volume    ticker
0  2023-10-03  2418.00  2387.25  2424.90  2372.00  2019899  ADANIENT
1  2023-10-04  2402.20  2464.95  2502.75  2392.25  2857377  ADANIENT
2  2023-10-05  2477.95  2466.35  2486.50  2446.40  1132455  ADANIENT
3  2023-10-06  2466.35  2478.10  2514.95  2466.05  1510035  ADANIENT
4  2023-10-09  2440.00  2442.60  2459.70  2411.30  1408224  ADANIENT

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14200 entries, 0 to 14199
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    14200 non-null  object
 1   open    14200 non-null  float64
 2   close   14200 non-null  float64
 3   high    14200 non-null  float64
 4   low     14200 non-null  float64
 5   volume  14200 non-null  int64
 6   ticker  14200 non-null  object
dtypes: float64(4), int64(1), object(2)
memory usage: 776.7+ KB

In [4]:
df.isna().sum()

date      0
open      0
close     0
high      0
low       0
volume    0
ticker    0
dtype: int64

Sector Data Preprocessing

In [5]:
import pandas as pd
dfs = pd.read_csv('E:\Sakthi\prasanth\projects\stocks\Scripts\Sector_data - Sheet1.csv')
print(dfs.head())

             COMPANY         sector                         Symbol
0  ADANI ENTERPRISES  MISCELLANEOUS  ADANI ENTERPRISES: ADANIGREEN
1  ADANI PORTS & SEZ  MISCELLANEOUS  ADANI PORTS & SEZ: ADANIPORTS
2   APOLLO HOSPITALS  MISCELLANEOUS   APOLLO HOSPITALS: APOLLOHOSP
3       ASIAN PAINTS         PAINTS       ASIAN PAINTS: ASIANPAINT
4          AXIS BANK        BANKING            AXIS BANK: AXISBANK

In [6]:
#column-lowercase
dfs.columns = dfs.columns.str.lower()
print(dfs.head())

             company         sector                         symbol
0  ADANI ENTERPRISES  MISCELLANEOUS  ADANI ENTERPRISES: ADANIGREEN
1  ADANI PORTS & SEZ  MISCELLANEOUS  ADANI PORTS & SEZ: ADANIPORTS
2   APOLLO HOSPITALS  MISCELLANEOUS   APOLLO HOSPITALS: APOLLOHOSP
3       ASIAN PAINTS         PAINTS       ASIAN PAINTS: ASIANPAINT
4          AXIS BANK        BANKING            AXIS BANK: AXISBANK

In [7]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   company  50 non-null     object
 1   sector   50 non-null     object
 2   symbol   50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [8]:
dfs.isnull().sum()

company    0
sector     0
symbol     0
dtype: int64

In [ ]:
#symbol-match-with-ticker
dfs['symbol'] = dfs['symbol'].str.split(':').str[1]
print(dfs.head())

             company         sector       symbol
0  ADANI ENTERPRISES  MISCELLANEOUS   ADANIGREEN
1  ADANI PORTS & SEZ  MISCELLANEOUS   ADANIPORTS
2   APOLLO HOSPITALS  MISCELLANEOUS   APOLLOHOSP
3       ASIAN PAINTS         PAINTS   ASIANPAINT
4          AXIS BANK        BANKING     AXISBANK

In [9]:
print(dfs['symbol'].unique())

[' ADANIGREEN' ' ADANIPORTS' ' APOLLOHOSP' ' ASIANPAINT' ' AXISBANK'
 ' BAJAJ-AUTO' ' BAJFINANCE' ' BAJAJFINSV' ' BEL' ' AIRTEL' ' BPCL'
 ' CIPLA' ' COALINDIA' ' DRREDDY' ' EICHERMOT' ' GRASIM' ' HCLTECH'
 ' HDFCBANK' ' HDFCLIFE' ' HEROMOTOCO' ' HINDALCO' ' HINDUNILVR'
 ' ICICIBANK' ' INDUSINDBK' ' INFY' ' IOC' ' ITC' ' JSWSTEEL' ' KOTAKBANK'
 ' LT' ' M&M' ' MARUTI' ' NESTLEIND' ' NTPC' ' ONGC' ' POWERGRID'
 ' RELIANCE' ' SBIN' ' SBILIFE' ' SHRIRAMFIN' ' SUNPHARMA' ' TATACONSUMER'
 ' TATAMOTORS' ' TATASTEEL' ' TCS' ' TECHM' ' TITAN' ' TRENT'
 ' ULTRACEMCO' ' WIPRO']

In [ ]:
#remove-space
dfs['symbol'] = dfs['symbol'].str.strip()
print(dfs['symbol'].unique())

['ADANIGREEN' 'ADANIPORTS' 'APOLLOHOSP' 'ASIANPAINT' 'AXISBANK'
 'BAJAJ-AUTO' 'BAJFINANCE' 'BAJAJFINSV' 'BEL' 'AIRTEL' 'BPCL' 'CIPLA'
 'COALINDIA' 'DRREDDY' 'EICHERMOT' 'GRASIM' 'HCLTECH' 'HDFCBANK'
 'HDFCLIFE' 'HEROMOTOCO' 'HINDALCO' 'HINDUNILVR' 'ICICIBANK' 'INDUSINDBK'
 'INFY' 'IOC' 'ITC' 'JSWSTEEL' 'KOTAKBANK' 'LT' 'M&M' 'MARUTI' 'NESTLEIND'
 'NTPC' 'ONGC' 'POWERGRID' 'RELIANCE' 'SBIN' 'SBILIFE' 'SHRIRAMFIN'
 'SUNPHARMA' 'TATACONSUMER' 'TATAMOTORS' 'TATASTEEL' 'TCS' 'TECHM' 'TITAN'
 'TRENT' 'ULTRACEMCO' 'WIPRO']

In [ ]:
#mismatched-symbol-and-ticker
mismatched_ticker = df[~df['ticker'].isin(dfs['symbol'])]['ticker'].unique()
mismatched_symbol = dfs[~dfs['symbol'].isin(df['ticker'])]['symbol'].unique()

print(f"Tickers in all_stocks.csv not found in updated_sector.csv: {mismatched_ticker}")
print(f"Symbols in updated_sector.csv not found in all_stocks.csv : {mismatched_symbol}")

Tickers in all_stocks.csv not found in updated_sector.csv: ['ADANIENT' 'BHARTIARTL' 'BRITANNIA' 'TATACONSUM']
Tickers in updated_sector.csv not found in all_stocks.csv : ['ADANIGREEN' 'AIRTEL' 'IOC' 'TATACONSUMER']

In [ ]:
#change-symbols-to-match-the-ticker
dfs['symbol'] = dfs['symbol'].replace('ADANIGREEN', 'ADANIENT')
dfs['symbol'] = dfs['symbol'].replace('AIRTEL', 'BHARTIARTL')
dfs['symbol'] = dfs['symbol'].replace('TATACONSUMER', 'TATACONSUM')

In [18]:
print(dfs['symbol'].unique())

['ADANIENT' 'ADANIPORTS' 'APOLLOHOSP' 'ASIANPAINT' 'AXISBANK' 'BAJAJ-AUTO'
 'BAJFINANCE' 'BAJAJFINSV' 'BEL' 'BHARTIARTL' 'BPCL' 'CIPLA' 'COALINDIA'
 'DRREDDY' 'EICHERMOT' 'GRASIM' 'HCLTECH' 'HDFCBANK' 'HDFCLIFE'
 'HEROMOTOCO' 'HINDALCO' 'HINDUNILVR' 'ICICIBANK' 'INDUSINDBK' 'INFY'
 'IOC' 'ITC' 'JSWSTEEL' 'KOTAKBANK' 'LT' 'M&M' 'MARUTI' 'NESTLEIND' 'NTPC'
 'ONGC' 'POWERGRID' 'RELIANCE' 'SBIN' 'SBILIFE' 'SHRIRAMFIN' 'SUNPHARMA'
 'TATACONSUM' 'TATAMOTORS' 'TATASTEEL' 'TCS' 'TECHM' 'TITAN' 'TRENT'
 'ULTRACEMCO' 'WIPRO']

In [ ]:
#add-new-column-for-britannia
new_row = {'company': 'BRITANNIA','sector': 'FMCG', 'symbol': 'BRITANNIA'}

#create-datafame
new_row_df = pd.DataFrame([new_row])

#Check-if-the-new-row-already-exists-in-the-DataFrame
if not ((dfs['company'] == new_row['company']) & (dfs['symbol'] == new_row['symbol'])).any():
    #append-the-new-row-to-the-DataFrame-using-pd.concat
    dfs = pd.concat([dfs, new_row_df], ignore_index=True)
else:
    print("Row already exists.")

print(dfs.tail())
print(dfs[dfs['company'] == 'BRITANNIA'])

             company     sector      symbol
46             TITAN  RETAILING       TITAN
47             TRENT  RETAILING       TRENT
48  ULTRATECH CEMENT     CEMENT  ULTRACEMCO
49             WIPRO   SOFTWARE       WIPRO
50         BRITANNIA       FMCG   BRITANNIA
      company sector     symbol
50  BRITANNIA   FMCG  BRITANNIA

In [ ]:
#to-delete-company
dfs = dfs[dfs['company'] != 'IOC']

In [22]:
print(dfs['symbol'].unique())

['ADANIENT' 'ADANIPORTS' 'APOLLOHOSP' 'ASIANPAINT' 'AXISBANK' 'BAJAJ-AUTO'
 'BAJFINANCE' 'BAJAJFINSV' 'BEL' 'BHARTIARTL' 'BPCL' 'CIPLA' 'COALINDIA'
 'DRREDDY' 'EICHERMOT' 'GRASIM' 'HCLTECH' 'HDFCBANK' 'HDFCLIFE'
 'HEROMOTOCO' 'HINDALCO' 'HINDUNILVR' 'ICICIBANK' 'INDUSINDBK' 'INFY'
 'ITC' 'JSWSTEEL' 'KOTAKBANK' 'LT' 'M&M' 'MARUTI' 'NESTLEIND' 'NTPC'
 'ONGC' 'POWERGRID' 'RELIANCE' 'SBIN' 'SBILIFE' 'SHRIRAMFIN' 'SUNPHARMA'
 'TATACONSUM' 'TATAMOTORS' 'TATASTEEL' 'TCS' 'TECHM' 'TITAN' 'TRENT'
 'ULTRACEMCO' 'WIPRO' 'BRITANNIA']

In [ ]:
#to-save
dfs.to_csv('updated_sector.csv', index=False)

To store all_stocks.csv to my Tidb database for Streamlit Analytics

In [ ]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine, text

# Database connection 
host = "gateway01.eu-central-1.prod.aws.tidbcloud.com"
port = 4000
user = "42aq8sKC2dkkKnC.root"
password = "YOUR PASSWORD"
ssl_ca_path = r"E:\Sakthi\prasanth\projects\imdb\Scripts\certs\ca.pem"
ssl_args = f"?ssl_ca={ssl_ca_path}"

# Temporary engine to create database
temp_engine = create_engine(
    f"mysql+pymysql://{user}:{password}@{host}:{port}/information_schema",
    connect_args={
        "ssl": {"ca": ssl_ca_path}
    }
)

# Create stocks database
with temp_engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS stocks"))

# Connect to the stocks database
engine = create_engine(
    f"mysql+pymysql://{user}:{password}@{host}:{port}/stocks{ssl_args}"
)

# Table Query 
create_table_sql = """
CREATE TABLE IF NOT EXISTS allstocks (
    date TEXT,
    open DOUBLE, 
    close DOUBLE,
    high DOUBLE,
    low DOUBLE,
    volume BIGINT,
    ticker TEXT
);
"""

with engine.connect() as conn:
    conn.execute(text(create_table_sql))

# Load CSV
csv_path = "E:\\Sakthi\\prasanth\\projects\\stocks\\Scripts\\all_stocks.csv"  
df = pd.read_csv(csv_path)

# Insert into movies table
df.to_sql(
    name="allstocks",
    con=engine,
    if_exists="append",
    index=False
)

print("allstocks table created and data uploaded successfully.")

allstocks table created and data uploaded successfully.