<a href="https://colab.research.google.com/github/sakthiprasanth16/nifty50-stocks-analytics/blob/main/Preprocess_for_tableau.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# -----------------------------
# 1. LOAD DATA
# -----------------------------
stocks = pd.read_csv("all_stocks.csv")
sector = pd.read_csv("updated_sector.csv")

stocks['date'] = pd.to_datetime(stocks['date'])
stocks = stocks[stocks['date'] >= "2023-11-22"]

# -----------------------------
# 2. DAILY RETURN (pct_change)
# -----------------------------
stocks = stocks.sort_values(['ticker', 'date'])
stocks['daily_return'] = stocks.groupby('ticker')['close'].pct_change()

# -----------------------------
# 3. CUMULATIVE RETURN
# -----------------------------
# Fixed: Changed .apply() to .transform() to ensure index alignment
stocks['cumulative_return'] = (
    stocks.groupby('ticker')['daily_return']
    .transform(lambda x: (1 + x.fillna(0)).cumprod() - 1)
)

# -----------------------------
# 4. AGGREGATED METRICS (PER TICKER)
# -----------------------------
metrics = (
    stocks.groupby('ticker')
    .agg(
        yearly_return = ('daily_return', lambda x: (1 + x.dropna()).prod() - 1),
        volatility = ('daily_return', 'std'),          # SAME AS Streamlit
        avg_price = ('close', 'mean'),
        avg_volume = ('volume', 'mean'),
        final_cumulative_return = ('cumulative_return', 'last')
    )
    .reset_index()
)

# -----------------------------
# 5. MONTHLY RETURN
# -----------------------------
stocks['MonthYear'] = stocks['date'].dt.to_period('M')

monthly_returns = (
    stocks.groupby(['ticker', 'MonthYear'])['close']
    .agg(lambda x: (x.iloc[-1] - x.iloc[0]) / x.iloc[0])
    .reset_index(name='monthly_return')
)

# -----------------------------
# 6. MERGE EVERYTHING
# -----------------------------
final_df = (
    stocks
    .merge(metrics, on='ticker', how='left')
    .merge(sector, left_on='ticker', right_on='symbol', how='left')
)

# -----------------------------
# 7. SAVE FOR TABLEAU
# -----------------------------
final_df.to_csv("tableau_ready_stock_metrics.csv", index=False)

print("âœ… Exported: tableau_ready_stock_metrics.csv")
print("Columns:")
print(final_df.columns.tolist())

âœ… Exported: tableau_ready_stock_metrics.csv
Columns:
['date', 'open', 'close', 'high', 'low', 'volume', 'ticker', 'daily_return', 'cumulative_return', 'MonthYear', 'yearly_return', 'volatility', 'avg_price', 'avg_volume', 'final_cumulative_return', 'company', 'sector', 'symbol']

In [ ]:
display(final_df.head())

,date,open,close,high,low,volume,ticker,daily_return,cumulative_return,MonthYear,yearly_return,volatility,avg_price,avg_volume,final_cumulative_return,company,sector,symbol
0,2023-11-22,2205.15,2172.65,2225.00,2153.5,1247205,ADANIENT,NaN,0.000000,2023-11,0.025476,0.029948,3042.43253,2.495226e+06,0.025476,ADANI ENTERPRISES,MISCELLANEOUS,ADANIENT
1,2023-11-23,2190.00,2175.25,2190.00,2160.6,729114,ADANIENT,0.001197,0.001197,2023-11,0.025476,0.029948,3042.43253,2.495226e+06,0.025476,ADANI ENTERPRISES,MISCELLANEOUS,ADANIENT
2,2023-11-24,2179.00,2225.45,2251.95,2160.9,1946259,ADANIENT,0.023078,0.024302,2023-11,0.025476,0.029948,3042.43253,2.495226e+06,0.025476,ADANI ENTERPRISES,MISCELLANEOUS,ADANIENT
3,2023-11-28,2301.00,2423.50,2512.40,2275.0,11972275,ADANIENT,0.088993,0.115458,2023-11,0.025476,0.029948,3042.43253,2.495226e+06,0.025476,ADANI ENTERPRISES,MISCELLANEOUS,ADANIENT
4,2023-11-29,2468.70,2396.60,2477.65,2390.0,4561574,ADANIENT,-0.011100,0.103077,2023-11,0.025476,0.029948,3042.43253,2.495226e+06,0.025476,ADANI ENTERPRISES,MISCELLANEOUS,ADANIENT

In [ ]:
import pandas as pd

# --------------------------------------------------
# STEP 1: LOAD YOUR FINAL LOCAL FILE
# --------------------------------------------------
FILE_PATH = "/content/tableau_ready_stock_metrics.csv"

df = pd.read_csv(FILE_PATH)

print("âœ… File loaded successfully")
print(df.head())

# --------------------------------------------------
# STEP 2: DATA CLEANING & TYPE FIXES
# --------------------------------------------------
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values(['ticker', 'date'])

required_cols = {'date', 'ticker', 'close'}
if not required_cols.issubset(df.columns):
    raise ValueError(f"Missing required columns: {required_cols}")

print("âœ… Data types and sorting done")

# --------------------------------------------------
# STEP 3: CREATE PRICE PIVOT TABLE
# --------------------------------------------------
price_pivot = df.pivot_table(
    index='date',
    columns='ticker',
    values='close'
)

print("âœ… Price pivot table created")
print(price_pivot.head())

# --------------------------------------------------
# STEP 4: RETURNS-BASED CORRELATION (RECOMMENDED)
# --------------------------------------------------
returns = price_pivot.pct_change()
corr = returns.corr().round(2)

print("âœ… Correlation matrix computed")

# --------------------------------------------------
# STEP 5: CONVERT TO LONG FORMAT (FIXED)
# --------------------------------------------------

# Rename index and columns to avoid duplicate names
corr.index.name = "RowTicker"
corr.columns.name = "ColTicker"

corr_long = corr.stack().reset_index(name="Correlation")

print("âœ… Correlation converted to long format")
print(corr_long.head())

# --------------------------------------------------
# STEP 6: EXPORT TABLEAU-READY CSV
# --------------------------------------------------
OUTPUT_FILE = "stock_correlation_long_tableau.csv"

corr_long.to_csv(OUTPUT_FILE, index=False)

print(f"âœ… Exported successfully: {OUTPUT_FILE}")
print("ðŸ“Œ Load this file directly into Tableau")

âœ… File loaded successfully
         date     open    close     high     low    volume    ticker  \
0  2023-11-22  2205.15  2172.65  2225.00  2153.5   1247205  ADANIENT
1  2023-11-23  2190.00  2175.25  2190.00  2160.6    729114  ADANIENT
2  2023-11-24  2179.00  2225.45  2251.95  2160.9   1946259  ADANIENT
3  2023-11-28  2301.00  2423.50  2512.40  2275.0  11972275  ADANIENT
4  2023-11-29  2468.70  2396.60  2477.65  2390.0   4561574  ADANIENT

   daily_return  cumulative_return MonthYear  yearly_return  volatility  \
0           NaN           0.000000   2023-11       0.025476    0.029948
1      0.001197           0.001197   2023-11       0.025476    0.029948
2      0.023078           0.024302   2023-11       0.025476    0.029948
3      0.088993           0.115458   2023-11       0.025476    0.029948
4     -0.011100           0.103077   2023-11       0.025476    0.029948

    avg_price    avg_volume  final_cumulative_return            company  \
0  3042.43253  2.495226e+06                 0.025476  ADANI ENTERPRISES
1  3042.43253  2.495226e+06                 0.025476  ADANI ENTERPRISES
2  3042.43253  2.495226e+06                 0.025476  ADANI ENTERPRISES
3  3042.43253  2.495226e+06                 0.025476  ADANI ENTERPRISES
4  3042.43253  2.495226e+06                 0.025476  ADANI ENTERPRISES

          sector    symbol
0  MISCELLANEOUS  ADANIENT
1  MISCELLANEOUS  ADANIENT
2  MISCELLANEOUS  ADANIENT
3  MISCELLANEOUS  ADANIENT
4  MISCELLANEOUS  ADANIENT
âœ… Data types and sorting done
âœ… Price pivot table created
ticker      ADANIENT  ADANIPORTS  APOLLOHOSP  ASIANPAINT  AXISBANK  \
date
2023-11-22   2172.65      791.90     5532.00     3133.00    998.10
2023-11-23   2175.25      793.10     5493.95     3122.95    999.05
2023-11-24   2225.45      795.55     5401.30     3136.15   1008.50
2023-11-28   2423.50      837.70     5366.80     3148.35   1021.15
2023-11-29   2396.60      835.55     5421.95     3148.35   1060.15

ticker      BAJAJ-AUTO  BAJAJFINSV  BAJFINANCE     BEL  BHARTIARTL  ...  \
date                                                                ...
2023-11-22     5751.55     1623.90     7128.35  141.85      969.75  ...
2023-11-23     5925.25     1623.95     7073.65  139.35      976.65  ...
2023-11-24     5930.30     1617.25     7020.80  140.35      973.15  ...
2023-11-28     5998.15     1654.40     7127.55  141.30      984.90  ...
2023-11-29     6069.95     1653.50     7130.10  141.00      995.40  ...

ticker      SUNPHARMA  TATACONSUM  TATAMOTORS  TATASTEEL      TCS    TECHM  \
date
2023-11-22    1204.10      916.85      681.20     126.10  3530.15  1215.40
2023-11-23    1198.80      921.55      679.95     126.70  3508.25  1210.90
2023-11-24    1195.45      915.52      673.70     125.95  3457.10  1197.85
2023-11-28    1191.35      920.41      697.50     126.85  3470.15  1202.40
2023-11-29    1202.20      922.09      712.35     127.75  3513.75  1221.70

ticker        TITAN    TRENT  ULTRACEMCO   WIPRO
date
2023-11-22  3429.85  2627.15     8759.90  400.25
2023-11-23  3408.40  2655.05     8605.25  402.50
2023-11-24  3396.95  2649.70     8556.20  396.00
2023-11-28  3442.40  2671.75     8726.50  396.85
2023-11-29  3429.30  2676.40     8732.75  406.25

[5 rows x 50 columns]
âœ… Correlation matrix computed
âœ… Correlation converted to long format
  RowTicker   ColTicker  Correlation
0  ADANIENT    ADANIENT         1.00
1  ADANIENT  ADANIPORTS         0.89
2  ADANIENT  APOLLOHOSP         0.15
3  ADANIENT  ASIANPAINT         0.28
4  ADANIENT    AXISBANK         0.31
âœ… Exported successfully: stock_correlation_long_tableau.csv
ðŸ“Œ Load this file directly into Tableau